
# This file is non important in this case.
Murder Project/log.txt

# Added this to avoid weird things.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
Murder Project/log.txt
Murder Project/game/saves/persistent
Murder Project/game/cache/shaders.txt
Murder Project/traceback.txt
*.save
*.rpyc
Murder Project/game/script.rpyc
*.rpyb
